/* top */
.surveyArea {
  max-width: 1200px;
  margin: auto;
  padding-top: 79px;
  color: #333;
}
.topbar h2 {
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
  color: #333;
}
.searchArea {
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
}
.searchbox {
  width: 300px;
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  margin: 10px 30px 0;
}
.searchbox > input {
  appearance: none;
  border: none;
  outline: none;
  margin: 10px 0 0 20px;
  font-size: 16px;
  width: 200px;
  height: 40px;
  background-color: transparent;
}
.searchbox > a {
  margin: auto;
  margin-right: 27px;
  color: #ddd;
}
.topbtn {
  padding-left: 50px;
  padding-bottom: 17px;
  display: flex;
  justify-content: flex-end;
}
.topbtn button {
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  padding: 10px 30px;
  overflow: visible;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  width: 140px;
  height: 52px;
  margin-left: 20px;
  color:#fff;
  font-weight: 600;
}
/* μΈν’‹ */
.searchline:focus {
  outline: none;
}
.searchicon {
  font-size: 20px;
}
/* table */
.table {
  text-align: center;
  width: 100%;
  margin: auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  font-size: 16px;
}
.surveyArea th {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.surveyArea th,
td {
  border-right: 1px solid #ccc;
  padding:15px;
}
th:last-child {
  border-right: none;
}
td:last-child {
  border-right: none;
}
.rowBottom {
  border-bottom: none;
}
.fin {
  opacity: 0.5;
}
.pagelink:hover{
  cursor: pointer;
  color:#ffc107;
}
/* page change num */
.pageChange {
  text-align: center;
  margin: 40px 0 119px;
}
.pageNum {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding: 0 5px;
}
.pageNum:hover{
  color: #ffc107;
}
.arrowkey {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding: 0 5px;
  background-color: #ffc107;
  color: #fff;
  margin: 0 15px;
}