/*상단*/
.modifybox {
  max-width: 1200px;
  margin: 20px auto 0;
  color: #333;
  font-size: 17px;
}
/* 폼 */
.modifybox .form {
  width: fit-content;
  margin: auto;
  padding: 20px 0;
}
.modifybox .dl1,
.modifybox .dl2,
.modifybox .dl4 {
  display: flex;
  margin-bottom: 15px;
}
.modifybox .dl5 {
  display: flex;
  margin-bottom: 40px;
}
.modifybox .dl1 dt {
  width: 120px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
}
.modifybox .dl1 dt span{
  color: #333;
}
.modifybox .dl2 dt {
  width: 120px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
}
.modifybox .dl2 dt span{
  color: #333;
}
.modifybox .dl4 dt {
  width: 120px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
}
.modifybox .dl4 dt span{
  color: #333;
}
.modifybox .dl4 dd {
  display: flex;
}
.modifybox .dl4 dd .fileupload {
  width: 120px;
}
.modifybox .dl5 dt {
  width: 120px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
}
.modifybox .dl5 dt span{
  color: #333;
}
/* dl 길이*/
.modifybox .dl1 dd input {
  width: 300px;
  height: 23px;
}
.modifybox .dl2 dd input {
  width: 300px;
  height: 23px;
}
.modifybox .dl2 dt input {
  height: 23px;
}
.modifybox .dl2 dd input {
  height: 23px;
}

.modifybox .datearea span{
  color:#333;
  padding-right: 10px;
}
/* 단계 */
.modifybox .dl6 {
  display: flex;
  width: fit-content;
}
.modifybox .surveyProfile {
  align-self: center;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  width: 120px;
}
.modifybox .stepArea {
  display: flex;
  justify-content: flex-start;
}
.modifybox .stepArea dt {
  width: 50px;
  font-size: 17px;
  line-height: 1.3;
  margin-right: 10px;
}
.modifybox .stepArea dd section {
  margin-bottom: 10px;
}
/*설문지바로가기*/
.modifybox .shortcut {
  text-decoration: underline;
  margin-left: 20px;
}
/* 인풋 */
.modifybox input:focus {
  outline: 1px solid #ffc107;
}
/*파일등록*/
.modifybox .fileuploadArea {
  display: flex;
}
.modifybox .uploadButton{
  font-size: 16px;
  background-color: #fff;
  width:250px;
  outline:none;
}
::-webkit-file-upload-button{
  color:#fff;
  background: #ffc107;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline:none;
  cursor: pointer;
  font-weight: 600;
}
.modifybox .dl4 p {
  font-size: 16px;
  line-height: 2;
  margin-left: 5px;
  padding-top: 2px;
}
/* 선택박스 & 태그 */
.modifybox .selectArea {
  display: flex;
}
.modifybox .selectbox {
  margin-right: 10px;
  width: 90px;
}
.modifybox select option[value=""]:disabled {
  display: none;
}
/* 가로 스크롤 */
.modifybox .tagWrapper {
  display: flex;
}
/* 태그 */
.modifybox .tagContainer {
  display: flex;
}
.modifybox .tagbox {
  background-color: #fff;
  border: 1px solid #777777;
  border-radius: 10px;
  margin-right: 7px;
  font-size: 16px;
  line-height: 16px;
  display: flex;
}
.modifybox .tagtagbox span {
  padding: 3px;
  vertical-align: middle;
}
.modifybox .tagX {
  margin: 0 5px;
  cursor: pointer;
  padding: 3px;
}
/* 버튼 */
.modifybox .btnArea {
  display: flex;
  justify-content: flex-end;
  margin: 10 30px;
}
.modifybox .saveBtn {
  background-color: #ffc107;
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  padding: 10px 20px;
  overflow: visible;
  cursor: pointer;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  width: 163px;
  height: 52px;
  margin-right: 19px;
}
.modifybox .saveBtn:hover {
 background-color: #fff;
 color: #ffc107;
} 
.modifybox .saveBtn > span{
  display: inline-block;
  width: 42px;
}
.modifybox .cancelBtn {
  background-color: #fff;
  border: 1px solid #333;
  box-shadow: none;
  border-radius: 10px;
  padding: 10px 20px;
  overflow: visible;
  cursor: pointer;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  width: 162px;
  height: 52px;
  margin-bottom: 77px;
}
.modifybox .cancelBtn:hover {
  background-color: #333;
  color: #fff;
}
.modifybox .cancelBtn > span{
  display: inline-block;
  width: 42px;
}
.modifybox .fileupload a {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  padding: 12px 20px;
  background-color: #ffc107;
  padding: 5px 10px;
  border-radius: 10px;
}
