.logined_qna_article {
  width: fit-content;
  min-height: calc(100vh - 221px);
  margin: 68px auto 147px auto;
}

/* container */
.logined_qna_article .container {
  width: 1000px;
  margin: auto;
}

/* pannel-category */
.logined_qna_article .pannelCategory {
  margin-bottom: 62px;
  color: #333;
}
.logined_qna_article .pannelCategory .pannelTitle {
  font-size: 30px;
  font-weight: bold;
}
.logined_qna_article .pannelCategory .span {
  margin: 0 27px 0 27px;
}

/* table */
.logined_qna_article .article .table {
  width: 100%;
  height: 67px;
  border-top: 3px solid #333;
  border-collapse: collapse;
}
.logined_qna_article .article .table .th {
  /* padding: 10px; */
  font-size: 18px;
  font-weight: normal;
  margin: 24px 0 24px 0;
}
.logined_qna_article .article .table .th:first-child {
  border-left: none;
}
.logined_qna_article .article .table .articleNum {
  width: 14%;
  table-layout: fixed;
}
.logined_qna_article .article .table .articleTitle {
  font-weight: bold;
}
.logined_qna_article .article .table .articleWritter {
  width: 14%;
}
.logined_qna_article .article .table .articleDate {
  width: 16%;
}

/* content */
.logined_qna_article .content {
  font-size: 17px;
  min-height: 300px;
  border-top: 1px solid #333;
  padding: 35px 40px 35px 40px;
}
.logined_qna_article .content .span {
  line-height: 25px;
}

/* comment */
.logined_qna_article .comment {
  border-top: 1px solid #333;
  display: flex;
  align-items: center;
  border-bottom: none;
}
.logined_qna_article .commentUserInfo {
  margin: 20px;
}
.logined_qna_article .commentUserInfo img {
  width: 29px;
  height: 29px;
}
.logined_qna_article .commentUserInfo .admin {
  font-weight: bold;
  margin-left: 8px;
}
.logined_qna_article .commentUserInfo .date {
  margin-left: 18px;
}
.logined_qna_article .commentUserInfo .time {
  margin-left: 8px;
}
.logined_qna_article .commentBtn {
  margin-left: 16px;
}
.logined_qna_article .commentBtn .btn {
  width: 50px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #333;
  font-size: 13px;
  color: #333;
  cursor: pointer;
}
.logined_qna_article .commentBtn .btn:hover{
  background-color: #333;
  color: #fff;
}
.logined_qna_article .commentBtn .delete {
  margin-left: 8px;
}

/* comment-content */
.logined_qna_article .replyContent {
  margin-top: 19px;
  margin-bottom: 32px;
}
.logined_qna_article .replyContent {
  display: block;
}
.logined_qna_article .replyContent span {
  margin-left: 20px;
  margin-bottom: 20px;
}

/* reply-regist */
.logined_qna_article .replyRegist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 22px 0 22px 0;
}
.logined_qna_article .replyRegist .formControl {
  resize: none;
  width: 904px;
  height: 70px;
  line-height: 15px;
  padding: 5px 10px 10px 5px;
  border-color: #b1b1b1;
  margin-bottom: 0;
}
.logined_qna_article .replyRegist span {
  color: #333;
}
.logined_qna_article .replyRegist .replyConfirm .btn {
  width: 52px;
  height: 47px;
  cursor: pointer;
  color: #333;
  background-color: #fff;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
}
.logined_qna_article .replyRegist .replyConfirm .btn:hover{
  background-color: #333;
  color: #fff;
}

/* modify btn */
.logined_qna_article .modifyButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 33px;
}
.logined_qna_article .modifyButton .btn {
  margin-right: 21px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffc107;
  width: 140px;
  height: 52px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.logined_qna_article .modifyButton .btn:hover{
  background-color: #fff;
  color: #ffc107;
  border: 1px solid #ffc107;
}
.logined_qna_article .modifyButton .list {
  margin-right: 0;
}